{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block content %}


<div class="main">
{% if city  is not null and name is not null %}

    <h1>Hello {{name}}! Bienvenue sur la page de {{city}} ✅</h1>
{% endif %}
{% if city is null and name is not null %}
      <h1>Hello {{name}}! Bienvenue sur la page de Montpellier ✅</h1>

{% endif %}
{% if name is not defined or name is null and city is not defined or city is null %}
    <h1>Hello ! Bienvenue sur la page de Montpellier ✅</h1>
{% endif %}
        <li>Welcome back <code><a href="{{path("home")}}">Home !</a></code></li>
        <li>Contact Montpellier Thibaut <code><a href="{{path("contact")}}">here</a></code></li>
        <li>Contact Valence Thibaut <code><a href="{{path("contactCity",{"city":"Valence"})}}">here</a></code></li>







</div>
{% endblock %}
